---
import { getCollection } from "astro:content";
import Container from "@components/Container.astro";
import PageLayout from "@layouts/PageLayout.astro";
import ArrowCard from "@components/ArrowCard.astro";
import Link from "@components/Link.astro";
import { dateRange } from "@lib/utils";
import { SITE, HOME, SOCIALS } from "@consts";

const blog = (await getCollection("blog"))
  .filter(post => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0,SITE.NUM_POSTS_ON_HOMEPAGE);

---

<PageLayout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <h4 class="animate font-semibold text-black dark:text-white">
      Kh <span class="text-xl">👋🏻</span>
    </h4>
    <div class="space-y-16">
      <section>
        <article class="space-y-4">
          <p class="animate">
          14+ 년차? 정도 된 개발자입니다. 삼성전자 영상처리 연구원 → 안드로이드 개발자 → 백엔드 개발자로 활동하고 있습니다. 계속 공부하고 조금씩 더 나은 사람이 되려고 노력합니다. 요새는 (어떤 형태가 될지 모르겠지만..) AI 개발자로 커리어 피봇 중입니다.

이 블로그는 공개되어 있지만 저를 위한 공간입니다. 혹시나 글을 읽으신다면 뭐라도 얻어가시면 좋겠네요.
          </p>
          <p class="animate">
            저는 <Link href="https://www.parsley-bay.com?utm_source=kh_wiki&utm_medium=text&utm_campaign=self_introduction" aria-label="Parsley-bay" external>
              작은 개발 회사를</Link> 운영하고 있습니다. 기술적인 도움이 필요하다면 홈페이지를 통해 연락주세요.
          </p>
        </article>
      </section>

      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            Latest posts
          </h5>
          <Link href="/blog">
            See all posts
          </Link>
        </div>
        <ul class="flex flex-col gap-4">
          {blog.map(post => (
            <li>
              <ArrowCard entry={post} />
            </li>
          ))}
        </ul>
      </section>

    </div>
  </Container>
</PageLayout>
